.buttonStandard {
  margin-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 30px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(83, 56, 37);
}

.buttonStandard:hover {
  background-color: goldenrod;
}
