.sectionTwoColumns {
  margin-top: 100px;
  margin-bottom: 100px;

}

.sectionTwoColumns__image {
  display: block;
  margin: auto;
  max-width: 50%;
}

.sectionTwoColumns__paragraph--important {
  font-style: italic;
}

.sectionTwoColumns__paragraph {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(83, 56, 37);
  font-size: 20px;
  text-align: justify;
   line-height: 1.5;
  list-style-position: inside;
  margin-bottom: 50px;
}

.sectionTwoColumns__heading {
  font-family: "Italianno", cursive;
  color: goldenrod;
  font-size: 66px;
  font-weight: 200;
  text-align: center;
  margin-block-start: 0px;

  line-height: 1;
}


.flex {
  display: flex;
  align-items: flex-start;
 
}

.flex__item{
justify-content: space-between;
margin: 2%;
}