html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.logo {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.hidden {
  display: none;
}

.goCenter {
  text-align: center;
  max-width: 100%;
  height: auto;
}
